---
import type { HIWPhase } from "../../../interface/HIWPhase";
import Container from "../../shared/Container.astro";

export interface Props {
  hiwPhase: HIWPhase[];
}

const { hiwPhase } = Astro.props;
---

<div class="bg-[#E4ECF8]">
  <div class="pt-28">
    <Container
      className="flex flex-col justify-center items-center mb-10 pb-10"
    >
      <h2 class="text-3xl font-bold">
        Three steps to take your business to the next level
      </h2>
      <div
        class={`my-20 grid grid-cols-1 md:grid-cols-${hiwPhase.length} gap-10 md:gap-0`}
      >
        {
          hiwPhase.map((item, index) => (
            <div class="flex flex-col justify-start items-center gap-3 md:gap-5">
              <div class="w-24 h-24 bg-blue-200 rounded-full flex justify-center items-center">
                <span class="font-bold text-5xl">{index + 1}</span>
              </div>
              <div class="text-xl font-semibold">{item.title}</div>
              <div class="md:w-11/12 lg:w-3/4 text-center text-sm">
                {item.description}
              </div>
            </div>
          ))
        }
      </div>
    </Container>
  </div>
</div>
