---
import { Image } from "astro:assets";
import type { HIWStep } from "../../../interface/HIWPhase";
import type { ImageInterface } from "../../../interface/Image";

export interface Props {
  steps: HIWStep[];
  index: number;
  stepIndex: number;
  images: ImageInterface[];
}

const { steps, index, images, stepIndex } = Astro.props;

const CHECKED = [
  "https://assets.website-files.com/62f9bcfba3e05d1e4f76bb2f/62faea4ed9a20059d3928576_check-special.svg",
  "https://assets.website-files.com/62f9bcfba3e05d1e4f76bb2f/62faf66c1c803881e54b636e_check-yellow.svg",
  "https://assets.website-files.com/62f9bcfba3e05d1e4f76bb2f/62faf4b20d56aba47ca68a03_check-blue.svg",
];
---

<li class="splide__slide">
  <div class="grid grid-cols-2 gap-20 h-full">
    {
      [index, index + 1].map((item) => {
        const { title, description, imageIndex } = steps[item];
        return (
          <div class="flex flex-col py-10 gap-5">
            <h4 class="text-xl font-medium">{title}</h4>
            <Image
              class={`mr-10 ${stepIndex > 0 ? "" : "mt-[-3rem]"}`}
              src={images[imageIndex]}
              alt=""
              loading="lazy"
              width={150}
              height={150}
            />
            <div class="flex flex-col gap-3 text-gray-500 font-light">
              {description.split(".").map((item) => (
                <div class="flex flex-row justify-start items-start gap-2">
                  {!!item && (
                    <img
                      class="mt-[6px]"
                      src="https://assets.website-files.com/5e7adffc6e755a6bb3a7d516/5e7adffc6e755ad555a7d5aa_Arrow.svg"
                      width={14}
                    />
                  )}
                  <span>{`${item}${!!item ? "." : ""}`}</span>
                </div>
              ))}
            </div>
          </div>
        );
      })
    }
  </div>
</li>
