---
import ImageColumn from "./ImageColumn.astro";
import ContentColumn from "./ContentColumn.astro";
---

<section id="how-it-works">
  <div
    class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 flex flex-col md:flex-row justify-center align-middle"
  >
    <ImageColumn />
    <ContentColumn />
  </div>
</section>
