---
import ImageColumn from "./ImageColumn.astro";
import ContentLayer from "./ContentLayer.astro";
---

<section id="how-it-works">
  <div
    class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 text-center mb-6"
  >
    <h2
      class="max-w-lg mb-6 text-3xl font-bold leading-none text-blue-950 sm:text-4xl md:mx-auto"
    >
      <span class="relative inline-block">
        <svg
          viewBox="0 0 52 24"
          fill="currentColor"
          class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block"
        >
          <defs>
            <pattern
              id="b902cd03-49cc-4166-a0ae-4ca1c31cedba"
              x="0"
              y="0"
              width=".135"
              height=".30"
            >
              <circle cx="1" cy="1" r=".7"></circle>
            </pattern>
          </defs>
          <rect
            fill="url(#b902cd03-49cc-4166-a0ae-4ca1c31cedba)"
            width="52"
            height="24"></rect>
        </svg>
        <span class="relative">How</span>
      </span>
      it Works
    </h2>
    <p class="text-base text-gray-700 md:text-lg">
      Understanding your challenges and providing tailored solutions to address
      them effectively.
    </p>
  </div>
  <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 relative">
    <ImageColumn />

    <ContentLayer />
  </div>
</section>
