---
---

<div
  class="text-white flex flex-row gap-3 justify-center items-center font-semibold"
>
  <span><a href="/">Home</a></span>
  <span class="before:absolute left-0 top-1/2 h-1 w-1 rounded-lg bg-white">
  </span>
  <span>Services</span>
</div>
