---
export interface Props {
  href?: string;
  text: string;
  className?: string;
  variant: "primary" | "secondary";
  isShineButton?: boolean;
}

const {
  href,
  text,
  className,
  variant,
  isShineButton = true,
  ...props
} = Astro.props;
const getThemeStyle = (variant: "primary" | "secondary") => {
  if (variant === "primary") {
    return "bg-primary border-transparent relative after:bg-primary hover:border-primary shadow-2xl hover:shadow-primary transition-all duration-500";
  }
  return "text-blue-700 hover:bg-gray-100 text-gray-900 border border-gray-300";
};

const getTextColor = (variant: "primary" | "secondary") => {
  if (variant === "primary") {
    return "text-white";
  }
  return "text-gray-900";
};
---

<a
  href={href}
  class:list={[
    `inline-flex items-center justify-center py-2 px-6 md:py-3 md:px-12 text-base rounded-full cursor-pointerfont-semibold`,
    getThemeStyle(variant),
    getTextColor(variant),
    "shine-effect",
    className || "",
  ]}
  {...props}
>
  <slot name="left-icon" />
  {text}
  <slot name="right-icon" />
</a>

<style>
  a.shine-effect {
    position: relative;
    overflow: hidden;
  }

  a.shine-effect::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    left: -100%;
    transition: all 650ms ease-in-out;
  }
  a.shine-effect:hover:before {
    left: 100%;
  }
</style>
