---
export interface Props {
  href?: string;
  text: string;
  className?: string;
  variant: "primary" | "secondary";
}

const { href, text, className, variant } = Astro.props;
const getThemeStyle = (variant: "primary" | "secondary") => {
  if (variant === "primary") {
    return "bg-blue-700 border-transparent relative after:bg-blue-950 hover:border-blue-950";
  }
  return "text-blue-700 hover:bg-gray-100 text-gray-900 border border-gray-300";
};

const getTextColor = (variant: "primary" | "secondary") => {
  if (variant === "primary") {
    return "text-white";
  }
  return "text-gray-900";
};
---

<a
  href={href}
  class:list={[
    `inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium rounded-lg`,
    getThemeStyle(variant),
    getTextColor(variant),
    className || "",
  ]}
>
  <slot name="left-icon" />
  {text}
  <slot name="right-icon" />
</a>
