---
import Paragraph from "./Paragraph.astro";
export interface Props {
  question: string;
  answer: string;
  index: number;
  image_url: string;
}

const { question, answer, image_url, index } = Astro.props;
---

<div
  id={`faq-item-${index}`}
  class="faq-item border-b border-b-gray-300 md:px-4 py-5"
>
  <div class="list-none cursor-pointer">
    <div
      class="flex flex-row justify-between items-center text-base gap-4 font-semibold"
    >
      <span class="faq__question">{question}</span>
      <svg viewBox="0 0 24 24" class="w-3 transition-transform duration-200">
        <polyline
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-miterlimit="10"
          points="2,7 12,17 22,7"
          stroke-linejoin="round"></polyline>
      </svg>
    </div>
  </div>
  <div class="answer max-h-0 duration-700 transition-all overflow-hidden">
    <div class="flex flex-row justify-start items-center gap-3">
      <img class="w-1/2 lg:w-1/5 my-3" src={image_url} />
      <div class="text-base leading-6">
        {answer}
      </div>
    </div>
  </div>
</div>
