---
import Container from "./Container.astro";
---

<section id="get-in-touch" class="bg-white py-8">
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="flex flex-col justify-center items-start gap-4">
        <span
          class="text-transparent text-2xl bg-clip-text bg-gradient-to-r from-blue-600 from-20% via-primary via-30% to-green-600 font-semibold"
        >
          Get in touch</span
        >
        <span class="text-black text-5xl font-bold"
          >Let works <br /> Together</span
        >
        <span class="text-lg font-normal text-black"
          >Just tell us your requirements and we will help you!</span
        >
        <span
          class="text-3xl text-green-600 hover:text-primary font-semibold font-sans duration-200"
        >
          <a href="tel:(+80) 456 7890">(+80) 456 7890</a>
        </span>
        <span
          class="text-lg font-normal text-black hover:text-primary duration-200"
        >
          <a href="mailto:webmaster@example.com">info@company.com</a>
        </span>
        <button
          class="border-2 border-gray-300 font-semibold px-8 py-2 rounded-3xl text-black hover:border-primary mt-5 duration-200"
          >Call us Now</button
        >
      </div>
      <div
        class="bg-white shadow-lg rounded-lg p-10 flex flex-col gap-8 before:bg-gradient-to-r from-blue-600 from-20% via-primary via-30% to-green-600"
      >
        <div class="grid grid-cols-2 gap-3">
          <input
            class="bg-gray-200 rounded-3xl px-8 py-3 font-normal focus:bg-white duration-150 focus:text-black"
            placeholder="Full Name"
          />
          <input
            class="bg-gray-200 rounded-3xl px-8 py-3 font-normal focus:bg-white duration-150 focus:text-black"
            placeholder="Email Address"
          />
        </div>
        <div class="grid grid-cols-2 gap-3">
          <input
            class="bg-gray-200 rounded-3xl px-8 py-3 font-normal focus:bg-white duration-150 focus:text-black"
            placeholder="Phone number"
          />
          <input
            class="bg-gray-200 rounded-3xl px-8 py-3 font-normal focus:bg-white duration-150 focus:text-black"
            placeholder="Website"
          />
        </div>
        <textarea
          class="bg-gray-200 rounded-3xl px-8 py-3 font-normal focus:bg-white duration-150 focus:text-black w-full min-h-[6rem] h-60"
          placeholder="Message"></textarea>
        <button
          class="bg-primary text-white rounded-3xl py-3 font-semibold mt-5"
        >
          Send Message
        </button>
      </div>
    </div>
  </Container>
</section>
