---
import { NAVIGATION_ITEM } from "../../config";
---

<a href={NAVIGATION_ITEM[0].href} class="flex items-center">
  <h2 class="text-3xl font-semibold tracking-wide text-blue-950 uppercase">
    Vy Trinh
  </h2>
</a>
