---
export interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;

let className = "duration-300 font-medium ease-linear py-2 px-4 ";

className +=
  href === Astro.url.pathname
    ? "text-blue-700 border-b-blue-700 border-b-2"
    : "text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700";
---

<a href={href} class={className} aria-current="page">{title}</a>
