---
export interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;

let className =
  "duration-300 font-medium ease-linear py-2 px-4 flex flex-row justify-center items-center";

className +=
  href === Astro.url.pathname
    ? "text-primary border-b-primary border-b-2"
    : "rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary";
---

<div
  class="dropdown inline-block relative group duration-300 font-medium ease-linear py-2 px-4 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary"
>
  <a href={href} class="py-2 px-4 rounded inline-flex items-center ">
    <span class="mr-1">{title}</span>
    <svg
      class="fill-current h-4 w-4"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      ><path
        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
      ></path>
    </svg>
  </a>
  <ul
    class="dropdown-menu opacity-0 absolute hidden text-gray-700 pt-1 group-hover:block group-hover:opacity-100 duration-300 origin-top"
  >
    <li class="">
      <a
        class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
        href="#">One</a
      >
    </li>
    <li class="">
      <a
        class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
        href="#">Two</a
      >
    </li>
    <li class="">
      <a
        class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
        href="#">Three is the magic number</a
      >
    </li>
  </ul>
</div>
