---
export interface Props {
  index: number;
  title: string;
  detail: string;
}

const { index, title, detail } = Astro.props;
---

<div class="flex flex-row gap-4">
  <div class="text-3xl text-blue-600 font-semibold">{`0${index}.`}</div>
  <div class="flex flex-col gap-3">
    <div class="text-3xl font-semibold">{title}</div>
    <div class="text-lg font-medium md:4/5 tracking-wide">
      <!-- Your future customers are spending hours a day on platforms such as
      Facebook, Instagram, and Google – we meet them where they are with
      strategic targeting and placement to cut through the noise. -->

      {detail}
    </div>
  </div>
</div>
