---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<h2
  class:list={[
    "font-semibold text-4xl md:text-6xl text-dark",
    className,
  ]}
>
  <slot />
</h2>