---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<h1
  class:list={[
    "font-bold text-lg sm:text-2xl md:text-3xl",
    className || "",
  ]}
>
  <slot />
</h1>
