---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<h1
  class:list={[
    "text-[#251754] font-semibold text-2xl sm:text-3xl md:text-4xl",
    className || "",
  ]}
>
  <slot />
</h1>
