---
import Container from "../../shared/Container.astro";
---

<Container className="mt-60">
  <div class="text-[6rem] font-bold text-center">insights.</div>
  <div class="text-gray-500 text-center text-md md:w-1/2 mx-auto hidden">
    Read our various case studies to find out how companies like yours have
    surpassed their marketing ambitions
  </div>
</Container>
