---
import ButtonLink from "../shared/ButtonLink.astro";
import Paragraph from "../shared/Paragraph.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div
  class="service-item rounded-md border border-gray-100 bg-white p-4 hover:bg-gray-50 "
>
  <a href="" class="flex flex-col gap-4">
    <svg
      class="fill-purple-600 w-6 h-6"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
      ></path>
    </svg>
    <h2 class="text-lg md:text-xl font-bold text-[#1F2937]">
      {title}
    </h2>
    <Paragraph className="line-clamp-3 text-sm md:text-base font-normal">
      {description}
    </Paragraph>

    <span class="invisible uppercase font-bold text-purple-600">Learn more</span>
  </div>
</div>
