---
import Logo from "./Logo.astro";
import NavbarItem from "./NavbarItem.astro";
import MenuCollapseButton from "./MenuCollapseButton.astro";
import CallNowButton from "./CallNowButton.astro";
import NavigationCollapse from "./NavigationCollapse.astro";
import NAVIGATION_ITEM from "../../utils/NavigationBarItem";

const CURRENT_URL = "/";
---

<nav class="sticky z-10 py-6">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4"
  >
    <MenuCollapseButton className={"hidden md:block lg:hidden"} />
    <Logo />
    <ul class="hidden lg:flex flex-row font-medium rounded-lg">
      {
        NAVIGATION_ITEM.map((item) => (
          <NavbarItem
            href={item.href}
            title={item.title}
            isActiveUrl={item.href === CURRENT_URL}
          />
        ))
      }
    </ul>

    <MenuCollapseButton className={"sm:block md:hidden"} />
    <CallNowButton />
    <NavigationCollapse currentUrl={CURRENT_URL} />
  </div>

  <div
    id="drawer-backdrop"
    class="bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-30 hidden"
  >
  </div>
</nav>
