---
// console.log('Astro.site', Astro.site);
// console.log('import.meta.env.BASE_URL', import.meta.env.BASE_URL);
import { Image } from "@astrojs/image/components";
import heroImage from "../../assets/heroimage.png";
import HeroBannerImage from "./HeroBannerImage.astro";
import HeroBannerContent from "./HeroBannerContent.astro";
import SocialProof from "./SocialProof.astro";
---

<!-- Hero -->
<section class="relative pt-32 lg:pt-36">
  <div
    class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 flex flex-col lg:flex-row gap-10 lg:gap-12"
  >
    <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
      <span
        class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"
      ></span>
      <span
        class="absolute right-4 bottom-[-23px] w-24 h-24 rounded-3xl bg-blue-700 blur-xl opacity-80"
      ></span>
    </div>
    <span
      class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"
    ></span>
    <HeroBannerContent />
    <HeroBannerImage />
  </div>
  <SocialProof />
</section>

<!-- End Hero -->

<style></style>
