---
---
<div
  class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl"
>
  <img
    src="images/heroimage.png"
    alt="Hero image"
    width="700"
    height="600"
    class="lg:absolute lg:w-full lg:h-full rounded-3xl object-contain lg:object-fit lg:max-h-none max-h-96 lg:min-h-[600px]"
  />
  <!-- <Image 
  src={heroImage}
  width={596}
  height={c}
  alt="Hero Banner Image"
/> -->
</div>
