---
---

<section class="relative mt-5 md:mt-12 lg:mt-16">
  <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5">
    <div
      class="bg-white bg-opacity-90 mx-auto lg:mx-0 p-5 sm:p-6 py-6 max-w-4xl rounded-3xl border shadow-lg shadow-box-shadow grid grid-cols-2 md:grid-cols-4"
    >
      <div class="text-center border-r-0 md:border-r border-gray-200">
        <h2 class="font-semibold text-xl sm:text-xl md:text-2xl text-heading-1">
          12+
        </h2>
        <p class="mt-2 text-heading-3">Clients</p>
      </div>
      <div class="text-center border-r-0 md:border-r border-gray-200">
        <h2 class="font-semibold text-xl sm:text-xl md:text-2xl text-heading-1">
          8+
        </h2>
        <p class="mt-2 text-heading-3">Partners</p>
      </div>
      <div class="text-center border-r-0 md:border-r border-gray-200">
        <h2 class="font-semibold text-xl sm:text-xl md:text-2xl text-heading-1">
          20+
        </h2>
        <p class="mt-2 text-heading-3">Projects</p>
      </div>
      <div class="text-center">
        <h2 class="font-semibold text-xl sm:text-xl md:text-2xl text-heading-1">
          5+
        </h2>
        <p class="mt-2 text-heading-3">Years</p>
      </div>
    </div>
  </div>
</section>
