---
import BaseHead from "../components/elements/BaseHead.astro";

export interface Props {
  title: string;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />

    <script
      src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
      type="module"></script>

    <!-- Start of HubSpot Embed Code -->
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js.hs-scripts.com/43459455.js"></script>
    <!-- End of HubSpot Embed Code -->
  </head>
  <body>
    <slot />
  </body>
</html>
