---
import Navbar from "../components/elements/Navbar.astro";
import Footer from "../components/sections/Footer.astro";
import Base from "./Base.astro";
---

<Base title="Welcome to Astro.">
  <main class="relative">
    <Navbar />
    <slot />
    <Footer />

    <div id="hubspot-conversations-inline-parent">
      <iframe id="hubspot-conversations-inline-iframe"></iframe>
    </div>
  </main>
</Base>
