---
import Navbar from "../components/elements/Navbar.astro";
import Footer from "../components/sections/Footer.astro";
import Base from "./Base.astro";
---

<Base title="Welcome to Astro.">
  <main class="relative">
    <Navbar />
    <slot />
    <Footer />
  </main>
</Base>
<div id="hubspot-conversations-inline-parent">
  <iframe id="hubspot-conversations-inline-iframe" style="display: none;"
  ></iframe>
</div>

<style>
  #hubspot-conversations-inline-iframe {
    width: 300px;
    height: 500px;
    border: none;
  }
</style>
