---
import BaseHead from "../components/elements/BaseHead.astro";

export interface Props {
  title: string;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />

    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
  </head>
  <body class="overflow-hidden overflow-y-auto bg-body">
    <slot />
  </body>
</html>
