---
import BaseHead from "../components/elements/BaseHead.astro";

export interface Props {
  title: string;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="overflow-hidden overflow-y-auto bg-body">
    <slot />
  </body>
</html>