---
import BaseHead from "../components/BaseHead/BaseHead.astro"

export interface Props {
  title: string;
}

console.log(import.meta.env.MODE)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <slot />
  </body>
</html>
