---
import HeaderOffer from "../components/elements/HeaderOffer.astro";
import Navbar from "../components/elements/Navbar.astro";
import Footer from "../components/sections/Footer.astro";
import Base from "./Base.astro";
---

<Base title="Welcome to Astro.">
  <HeaderOffer />
  <Navbar />
  <main class="">
    <slot />
  </main>
  <Footer />
</Base>
