---
import Container from "../shared/Container.astro";
import { CTA_CALCULATOR } from "../../config";
import ButtonLink from "../shared/ButtonLink.astro";
---

<section class="cta-calculator">
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col gap-4 justify-center">
        <div class="content flex flex-col gap-8 items-center justify-center">
          {
            CTA_CALCULATOR.map((item) => (
              <div class="flex flex-col md:flex-row justify-center items-center md:items-start gap-4">
                <div class="w-12">
                  <svg
                    class="w-8 h-8 ml-3"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                      stroke="#974ef2"
                      stroke-width="1.2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7.75 11.9999L10.58 14.8299L16.25 9.16992"
                      stroke="#974ef2"
                      stroke-width="1.2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div class="flex flex-col gap-4">
                  <h2 class="text-base md:text-2xl font-bold text-center md:text-left">
                    {item.title}
                  </h2>
                  <div class="text-center md:text-left">{item.description}</div>
                </div>
              </div>
            ))
          }
        </div>
        <div class="mt-3 text-center md:text-left">
          <ButtonLink
            text="Calculate Your Plan"
            variant="primary"
            className="bg-primary capitalize flex felx-row gap-2 mb-3"
          >
            <svg
              slot="right-icon"
              class="w-4 h-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path></svg
            >
          </ButtonLink>
          <div
            class="flex flex-row gap-2 justify-center md:justify-start items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM11.25 8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V13C12.75 13.41 12.41 13.75 12 13.75C11.59 13.75 11.25 13.41 11.25 13V8ZM12.92 16.38C12.87 16.51 12.8 16.61 12.71 16.71C12.61 16.8 12.5 16.87 12.38 16.92C12.26 16.97 12.13 17 12 17C11.87 17 11.74 16.97 11.62 16.92C11.5 16.87 11.39 16.8 11.29 16.71C11.2 16.61 11.13 16.51 11.08 16.38C11.03 16.26 11 16.13 11 16C11 15.87 11.03 15.74 11.08 15.62C11.13 15.5 11.2 15.39 11.29 15.29C11.39 15.2 11.5 15.13 11.62 15.08C11.86 14.98 12.14 14.98 12.38 15.08C12.5 15.13 12.61 15.2 12.71 15.29C12.8 15.39 12.87 15.5 12.92 15.62C12.97 15.74 13 15.87 13 16C13 16.13 12.97 16.26 12.92 16.38Z"
                fill="#974ef2"></path>
            </svg>
            <div class="text-sm">
              Try 1 months for free. No credit card required.
            </div>
          </div>
        </div>
      </div>
      <div class="cta-calculator__image">
        <div class="relative">
          <img
            width="600"
            height="600"
            src="images/cta-cal.jpeg"
            style="
            -webkit-mask-image: url(images/sketch.svg);"
          />
          <div
            class="bg-white right-0 bottom-16 z-10 absolute rounded-lg cross-sale-banner"
          >
            <div class="p-6 flex flex-col gap-2 items-center">
              <div>
                <!-- <span class="uppercase font-semibold">Sale</span> -->
                <span
                  class="text-4xl text-primary font-bold font-sans line-through"
                >
                  $499
                </span>
              </div>
              <div class="uppercase font-semibold">First month</div>
            </div>
          </div>
          <div class="left-0 bottom-0 absolute rotate-[350deg] z-[-1]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-16 md:w-20 lg:w-32"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M5.89999 17H18.09C19.99 17 20.99 16 20.99 14.1V2H2.98999V14.1C2.99999 16 3.99999 17 5.89999 17Z"
                stroke="#F6F4FF"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M2 2H22"
                stroke="#F6F4FF"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M8 22L12 20V17"
                stroke="#F6F4FF"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M16 22L12 20"
                stroke="#F6F4FF"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M7.5 11L10.65 8.37C10.9 8.16 11.23 8.22 11.4 8.5L12.6 10.5C12.77 10.78 13.1 10.83 13.35 10.63L16.5 8"
                stroke="#F6F4FF"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <div class="absolute top-10 left-24 z-[-1]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-16 md:w-20 lg:w-32"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M17.5399 8.30989C18.8986 8.30989 20 7.20851 20 5.84989C20 4.49127 18.8986 3.38989 17.5399 3.38989C16.1813 3.38989 15.08 4.49127 15.08 5.84989C15.08 7.20851 16.1813 8.30989 17.5399 8.30989Z"
                stroke="#F6F4FF"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M6.46001 8.30989C7.81863 8.30989 8.92 7.20851 8.92 5.84989C8.92 4.49127 7.81863 3.38989 6.46001 3.38989C5.10139 3.38989 4 4.49127 4 5.84989C4 7.20851 5.10139 8.30989 6.46001 8.30989Z"
                stroke="#F6F4FF"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M17.5399 20.6099C18.8986 20.6099 20 19.5086 20 18.1499C20 16.7913 18.8986 15.6899 17.5399 15.6899C16.1813 15.6899 15.08 16.7913 15.08 18.1499C15.08 19.5086 16.1813 20.6099 17.5399 20.6099Z"
                stroke="#F6F4FF"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M6.46001 20.6099C7.81863 20.6099 8.92 19.5086 8.92 18.1499C8.92 16.7913 7.81863 15.6899 6.46001 15.6899C5.10139 15.6899 4 16.7913 4 18.1499C4 19.5086 5.10139 20.6099 6.46001 20.6099Z"
                stroke="#F6F4FF"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>

<style>
  .cta-calculator__image img {
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
  }
  .cross-sale-banner {
    box-shadow: 0px 0px 50px 0px rgba(146, 146, 146, 0.3);
  }
</style>
