---
import Container from "../shared/Container.astro";
---

<section class="cta-footer relative">
  <div class="bg-blue-50 h-1/2 w-full absolute bottom-0"></div>
  <Container>
    <div class="z-10 relative rounded-2xl bg-cover bg-center bg-no-repeat">
      <div
        class="flex flex-col md:flex-row justify-between items-center p-16 rounded-2xl gap-12"
        style="background: linear-gradient(91.91deg, #501E9C 5.01%, #A44CEE 43.79%, #FF847F 93.65%);"
      >
        <div class="flex flex-col gap-5 md-gap-2">
          <div
            class="text-white uppercase text-base md:text-lg font-bold text-center md:text-left hidden"
          >
            Get to meet your next agency
          </div>
          <div
            class="text-white text-2xl lg:text-4xl font-bold text-center md:text-left md:5/6 lg:w-3/5"
          >
            Let’s talk about your next business challenge
          </div>
        </div>
        <a
          href="https://meetings.hubspot.com/vytrinh-mktg"
          class="p-5 text-center text-lg w-[20rem] font-semibold text-blue-950 bg-white border-2 border-blue-950 rounded-full hover:bg-blue-950 hover:text-white transition-all duration-300 hover:border-2 hover:border-blue-950"
        >
          Book a Meeting
        </a>
      </div>
    </div>
  </Container>
</section>
