---
import Container from "../shared/Container.astro";
---

<section class="cta-footer relative">
  <!-- <div class="bg-[#151515] h-1/2 w-full absolute bottom-0"></div> -->
  <Container>
    <div
      class="z-10 relative rounded-2xl bg-cover bg-center bg-no-repeat"
      style="background-image: url(images/cta-footer.jpeg)"
    >
      <div
        class="flex flex-col md:flex-row justify-between items-center backdrop-blur-md bg-black/75 p-16 rounded-2xl gap-12 lg:gap-24"
      >
        <div class="flex flex-col gap-2">
          <div
            class="text-white uppercase text-base md:text-lg font-bold text-center md:text-left"
          >
            Get to meet your next agency
          </div>
          <div
            class="text-white text-2xl md:text-3xl lg:text-5xl font-bold text-center md:text-left"
          >
            Let’s talk about your next business challenge
          </div>
        </div>
        <div>
          <button
            class="bg-primary rounded-xl text-white whitespace-nowrap py-5 px-12 font-bold"
          >
            Get In Touch
          </button>
        </div>
      </div>
    </div>
  </Container>
</section>
