---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { FAQ_LIST } from "../../config";
import FAQ from "../shared/FAQ.astro";
---

<section id="faq" class="mb-20 md:mb-32">
  <Container className="lg:w-4/6">
    <div class="w-full mb-10 text-center space-y-4">
      <Title className="text-dark">Frequently Asked Questions</Title>
    </div>
    <div class="flex justify-between flex-col border-0 shadow-xl shadow-gray-200 rounded-xl p-4">
      {FAQ_LIST.map((item, index) => <FAQ {...item} index={index} />)}
    </div>
  </Container>
</section>
