---
// console.log('Astro.site', Astro.site);
// console.log('import.meta.env.BASE_URL', import.meta.env.BASE_URL);
import { Image } from "@astrojs/image/components";
import heroImage from "../../assets/heroimage.png";
import HeroBannerImage from "../blocks/HeroBannerImage.astro";
import HeroBannerContent from "../blocks/HeroBannerContent.astro";
import Container from "../shared/Container.astro";
---

<!-- Hero -->
<section id="hero" class="relative pt-28 lg:pt-28 ">
  <Container className="flex flex-col lg:flex-row  gap-8 lg:gap-0">
    <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0">
      <!-- <span
        bg-[#fdf7fc]
        class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"
      ></span>
      <span
        class="absolute right-4 bottom-[-23px] w-24 h-24 rounded-3xl bg-blue-700 blur-xl opacity-80"
      ></span> -->
    </div>
    <!-- <span
      class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"
    ></span> -->
    <HeroBannerContent />
    <HeroBannerImage />
  </Container>
</section>

<style></style>

