---
// console.log('Astro.site', Astro.site);
// console.log('import.meta.env.BASE_URL', import.meta.env.BASE_URL);
import HeroBannerImage from "../blocks/HeroBannerImage.astro";
import HeroBannerContent from "../blocks/HeroBannerContent.astro";
import Container from "../shared/Container.astro";
import Partners from "./Partners.astro";
---

<!-- Hero -->
<section id="hero-banner">
  <HeroBannerImage />
  <Container className="flex flex-col gap-10">
    <HeroBannerContent />
    <Partners />
  </Container>
</section>

<style></style>
