---
import { Image } from "astro:assets";
import Container from "../shared/Container.astro";

const partnersImages = await Astro.glob("../../assets/images/partners/*").then(
  (files) => {
    return files.map((file) => file.default);
  }
);
---

<div id="partners">
  <Container className="rounded-3xl shadow-xl bg-white">
    <div class="splide cursor-pointer">
      <div class="splide__track">
        <div class="splide__list">
          {
            partnersImages.map((item) => (
              <div class="splide__slide p-2 group w-40 flex justify-center mx-auto">
                <Image
                  height={64}
                  src={item}
                  alt="spotify"
                  class="h-16 w-auto ease-linear duration-300 lg:grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </Container>
</div>

<script src="../../js/splide-init.ts"></script>
