---
import { NAVIGATION_ITEM, PROJECT_LIST } from "../../config";
import type Base from "../../layouts/Base.astro";
import ProjectItem from "../cards/ProjectItem.astro";
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section id="featured-works">
  <Container className="flex flex-col gap-10">
    <div class="flex justify-between">
      <h2 class="text-6xl font-semibold leading-[4rem]">Projects</br> and Insights</h2>
      <div class="w-1/3" data-aos="fade-up">
        <p class="text-sub-gray font-normal mb-6">
          With strategic planning, efficient execution, and nurturing tactics,
          I'll optimize your digital landscape, propelling your business forward
          and fostering sustainable growth.
        </p>
        <a
          href={NAVIGATION_ITEM[3].href}
          class="text-primary capitalize font-semibold"
        >
          <span class="w-14 border-y-2 border-primary inline-block mr-3"> </span>
          Explore All Insights
        </a>
      </div>
    </div>
    <div class="flex flex-row gap-5">
      {
        PROJECT_LIST.map((item, index) => (
          <ProjectItem {...item} className={index === 0 ? "flex-4" : ""} />
        ))
      }
    </div>
  </Container>
</section>


<script>
  const productList = document.querySelectorAll(
    "#featured-works .project-item"
  );

  document.addEventListener("DOMContentLoaded", () => {
    productList.forEach((item) => {
      item.addEventListener("mouseover", (event) => {
        productList.forEach((item) => {
          item.classList.remove("flex-4");
        });
        item.classList.add("flex-4");
      });
    });
  });
</script>
