---
import { NAVIGATION_ITEM, PROJECT_LIST } from "../../config";
import ProjectItem from "../cards/ProjectItem.astro";
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
---

<section id="featured-works">
  <Container className="flex flex-col gap-10">
    <div class="flex flex-col xl:flex-row justify-start xl:justify-between gap-8 xl:gap-0">
      <Title className="md:leading-[4rem]">Projects <br/> and Insights</Title>
      <div class="xl:w-1/2" data-aos="fade-up">
        <Paragraph className="text-sub-gray mb-3 text-right xl:text-left"> I'll optimize your digital landscape, propelling your business forward
          and fostering sustainable growth.</Paragrapth>
        <a
          href={NAVIGATION_ITEM[3].href}
          class="text-primary capitalize font-semibold text-xl float-right xl:float-left"
        >
          <span class="w-10 md:w-14 border-y-2 border-primary inline-block mr-3"> </span>
          Explore All Insights
        </a>
      </div>
    </div>
    <div class="grid md:grid-cols-2 xl:flex xl:flex-row gap-5">
      {
        PROJECT_LIST.map((item, index) => (
          <ProjectItem {...item} className={index === 0 ? "xl:flex-4" : ""} />
        ))
      }
    </div>
  </Container>
</section>


<script>
  const projectList = document.querySelectorAll(
    "#featured-works .project-item"
  );

  const onProductClicked = (element: Element) => { 
    projectList.forEach((item) => {
          item.classList.remove("flex-4");
        });
        element.classList.add("flex-4");
  }

  document.addEventListener("DOMContentLoaded", () => {
    projectList.forEach((item) => {
      item.addEventListener("mouseover", () => {
        onProductClicked(item);
      });
    });
  });
</script>
