---
import { SERVICE_LIST } from "../../config";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Container from "../shared/Container.astro";
import Service from "../cards/Service.astro";
import ButtonLink from "../shared/ButtonLink.astro";
---

<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <!-- <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title>What we offer</Title>
      <Paragraph>What can i do for you</Paragraph>
    </div> -->
    <div
      class="flex flex-col justify-center items-center"
    >
      <div class="w-full flex flex-col gap-4 text-center mb-5 md:mb-10 lg:mb-20">
        <div
          class="font-bold text-lg sm:text-2xl md:text-3xl text-dark"
        >
          What can
          <span class="text-gradient bg-gradient">I offer you</span>
        </div>
        <Paragraph className="w-3/5 mx-auto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper. Lorem ipsum dolor sit.
        </Paragraph>
      </div>
      <div class="w-full grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 mb-3 md:mb-5 lg:mb-8">
        {SERVICE_LIST.map((item) => <Service {...item} />)}
      </div>
      <ButtonLink
        text="Explore Our Services"
        variant="primary"
        className="bg-primary capitalize flex felx-row gap-2"
      >
        <svg
          slot="right-icon"
          class="w-4 h-4"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        >
      </ButtonLink>
    </div>
  </Container>
</section>
