---
import Container from "../shared/Container.astro";
---

<section id="header-offer" class="z-20 hidden">
  <Container>
    <div class="flex flex-row justify-end items-center py-2 gap-5">
      <!-- <div class="flex flex-row gap-3">
        <img
          src="https://wp.themepure.net/seomy/wp-content/themes/seomy/assets/img/shape/header-rocket.png"
          height="17"
          width="17"
          class="object-contain animate-light"
        />
        <span class="text-[12px] sm:text-base">See you at <span class="text-[#FF6C66] font-semibold"><a href="https://digitalmarketing-conference.com/europe/">#DMWF</a></span>, 21-22 Nov 2023 - Rai, Amsterdam</span>
      </div> -->
      <div class="flex-row gap-4 hidden lg:flex">
        <!-- <a
          href="/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-500 duration-300 hover:scale-110 transition-all"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M22 12.0607C22 6.504 17.5233 2 12 2C6.47667 2 2 6.504 2 12.0607C2 17.0833 5.656 21.2453 10.4373 22V14.9693H7.89867V12.06H10.4373V9.844C10.4373 7.32267 11.93 5.92933 14.2147 5.92933C15.308 5.92933 16.4533 6.126 16.4533 6.126V8.602H15.1913C13.9493 8.602 13.5627 9.378 13.5627 10.174V12.0607H16.336L15.8927 14.9687H13.5627V22C18.344 21.2453 22 17.0833 22 12.0607Z"
              fill="#9CA3AF"></path>
          </svg>
        </a>
        <a
          href="/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-500 duration-300 hover:scale-110 transition-all"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 2.2467C6.475 2.2467 2 6.7217 2 12.2467C2 16.6717 4.8625 20.4092 8.8375 21.7342C9.3375 21.8217 9.525 21.5217 9.525 21.2592C9.525 21.0217 9.5125 20.2342 9.5125 19.3967C7 19.8592 6.35 18.7842 6.15 18.2217C6.0375 17.9342 5.55 17.0467 5.125 16.8092C4.775 16.6217 4.275 16.1592 5.1125 16.1467C5.9 16.1342 6.4625 16.8717 6.65 17.1717C7.55 18.6842 8.9875 18.2592 9.5625 17.9967C9.65 17.3467 9.9125 16.9092 10.2 16.6592C7.975 16.4092 5.65 15.5467 5.65 11.7217C5.65 10.6342 6.0375 9.7342 6.675 9.0342C6.575 8.7842 6.225 7.7592 6.775 6.3842C6.775 6.3842 7.6125 6.1217 9.525 7.4092C10.325 7.1842 11.175 7.0717 12.025 7.0717C12.875 7.0717 13.725 7.1842 14.525 7.4092C16.4375 6.1092 17.275 6.3842 17.275 6.3842C17.825 7.7592 17.475 8.7842 17.375 9.0342C18.0125 9.7342 18.4 10.6217 18.4 11.7217C18.4 15.5592 16.0625 16.4092 13.8375 16.6592C14.2 16.9717 14.5125 17.5717 14.5125 18.5092C14.5125 19.8467 14.5 20.9217 14.5 21.2592C14.5 21.5217 14.6875 21.8342 15.1875 21.7342C17.1727 21.064 18.8977 19.7882 20.1198 18.0862C21.3419 16.3843 21.9995 14.342 22 12.2467C22 6.7217 17.525 2.2467 12 2.2467Z"
              fill="#9CA3AF"></path>
          </svg>
        </a> -->
        <a
          href="https://www.linkedin.com/in/vy-trinh-fromvtovintage/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-500 duration-300 hover:scale-110 transition-all mr-20"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M21 4.32353V19.6765C21 20.0275 20.8606 20.3641 20.6123 20.6123C20.3641 20.8606 20.0275 21 19.6765 21H4.32353C3.97251 21 3.63586 20.8606 3.38765 20.6123C3.13944 20.3641 3 20.0275 3 19.6765V4.32353C3 3.97251 3.13944 3.63586 3.38765 3.38765C3.63586 3.13944 3.97251 3 4.32353 3H19.6765C20.0275 3 20.3641 3.13944 20.6123 3.38765C20.8606 3.63586 21 3.97251 21 4.32353ZM8.29412 9.88235H5.64706V18.3529H8.29412V9.88235ZM8.53235 6.97059C8.53375 6.77036 8.49569 6.57182 8.42035 6.3863C8.34502 6.20078 8.23387 6.03191 8.09328 5.88935C7.95268 5.74678 7.78537 5.6333 7.60091 5.5554C7.41646 5.47749 7.21846 5.43668 7.01824 5.43529H6.97059C6.5634 5.43529 6.17289 5.59705 5.88497 5.88497C5.59705 6.17289 5.43529 6.5634 5.43529 6.97059C5.43529 7.37777 5.59705 7.76828 5.88497 8.05621C6.17289 8.34413 6.5634 8.50588 6.97059 8.50588C7.17083 8.51081 7.37008 8.47623 7.55696 8.40413C7.74383 8.33202 7.91467 8.2238 8.0597 8.08565C8.20474 7.94749 8.32113 7.78212 8.40223 7.59897C8.48333 7.41582 8.52755 7.21848 8.53235 7.01824V6.97059ZM18.3529 13.2071C18.3529 10.6606 16.7329 9.67059 15.1235 9.67059C14.5966 9.6442 14.0719 9.75644 13.6019 9.9961C13.1318 10.2358 12.7328 10.5945 12.4447 11.0365H12.3706V9.88235H9.88235V18.3529H12.5294V13.8476C12.4911 13.3862 12.6365 12.9283 12.9339 12.5735C13.2313 12.2186 13.6567 11.9954 14.1176 11.9524H14.2182C15.06 11.9524 15.6847 12.4818 15.6847 13.8159V18.3529H18.3318L18.3529 13.2071Z"
              fill="#9CA3AF"></path>
          </svg>
        </a>
      </div>
    </div>
  </Container>
</section>
