---
import Logo from "../shared/Logo.astro";
import NavItem from "../shared/NavItem.astro";
import MenuCollapseButton from "../blocks/MenuCollapseButton.astro";
import ButtonLink from "../shared/ButtonLink.astro";
import NavigationCollapse from "../blocks/NavigationCollapse.astro";
import { NAVIGATION_ITEM } from "../../config";
import Container from "../shared/Container.astro";
---

<header class="absolute inset-x-0 top-0 z-50 py-6">
  <Container>
    <nav class="flex items-center justify-between">
      <MenuCollapseButton className={"hidden md:block lg:hidden"} />
      <Logo />
      <ul
        class="hidden lg:flex flex-row font-medium rounded-lg"
        data-href={Astro.url.pathname}
      >
        {
          NAVIGATION_ITEM.map((item) => (
            <li>
              <NavItem href={item.href} title={item.title} />
            </li>
          ))
        }
      </ul>

      <MenuCollapseButton className={"sm:block md:hidden"} />
      <ButtonLink
        text="Let's Talk"
        className="hidden md:block text-sm bg-gradient"
        href="#"
        variant="primary"
      />
      <NavigationCollapse />
    </nav>
  </Container>
  <div
    id="drawer-backdrop"
    class="bg-gray-900 bg-opacity-50 fixed inset-0 z-30 hidden"
  >
  </div>
</header>
