---
import Logo from "../shared/Logo.astro";
import MenuCollapseButton from "../blocks/MenuCollapseButton.astro";
import NavigationCollapse from "../blocks/NavigationCollapse.astro";
import Container from "../shared/Container.astro";
import { Image } from "astro:assets";
import bannerShape from "../../assets/images/banner-shape.png";
import DesktopNavbar from "./DesktopNavbar.astro";

const isHomePage = Astro.url.pathname === import.meta.env.BASE_URL;
---

<header class="z-10" data-mode={import.meta.env.MODE}>
  <Container>
    <div
      class="shadow-2xl rounded-full backdrop-blur-md bg-[#ffffff0a] px-4 py-3 border border-[#ffffff80]"
    >
      <nav class="flex items-center justify-between w-full">
        <Logo />
        <DesktopNavbar />
        <MenuCollapseButton className={"sm:block lg:hidden"} />
      </nav>
    </div>
  </Container>
</header>
<NavigationCollapse />
{
  isHomePage && (
    <Image
      class:list={["absolute top-0 left-0 z-[-1]"]}
      src={bannerShape}
      alt="banner shape"
    />
  )
}
<div
  id="drawer-backdrop"
  class="bg-gray-900 bg-opacity-0 fixed inset-0 transition-all duration-200 lg:hidden md:block"
>
</div>
