---
import Base from "../layouts/Base.astro";
import Navbar from "../components/elements/Navbar.astro";
---

<Base title="Not found page.">
  <Navbar isPageNotFound={true} />
  <main class="flex h-[calc(100vh_-_12rem)] justify-center items-center">
    <div class="m-auto">
      <div
        class="flex flex-col justify-center items-center w-full mx-auto px-8 z-20 mt-0"
      >
        <p class="text-base md:text-2xl text-gray-400 text-center">
          This page is not available right now, but it will be soon. Stay tuned!
        </p>
        <dotlottie-player
          class="w-[250px] h-[250px] md:w-[400px] md:h-[400px]"
          src="https://lottie.host/11aafd6c-d02a-4f70-bbfb-34b34cd715e7/l8upoXBCX6.lottie"
          background="transparent"
          speed="1"
          direction="1"
          mode="normal"
          loop
          autoplay></dotlottie-player>
        <a
          href="/"
          type="button"
          class="py-3 md:px-12 bg-primary hover:bg-white border-2 hover:border-primary hover:text-primary text-white  transition ease-in duration-200 text-center text-sm md:text-base md:font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full"
        >
          Back To Home
        </a>
      </div>
    </div>
  </main>
</Base>
