---
import Base from "../layouts/Base.astro";
import Navbar from "../components/elements/Navbar.astro";
---

<Base title="Not found page.">
  <Navbar />
  <main>
    <div
      class="bg-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      <div class="text-center w-full mx-auto lg:px-8 z-20">
        <h2
          class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl"
        >
          <span class="block"> Coming Soon!</span>
        </h2>
        <p class="text-xl mt-4 max-w-md mx-auto text-gray-400">
          This page is not available right now, but it will be soon. Stay tuned!
        </p>
        <div class="lg:mt-0 lg:flex-shrink-0">
          <div class="mt-6 inline-flex rounded-md shadow">
            <button
              onclick="location.href = `window.history.go(-1); return false;`;"
              type="button"
              class="py-4 px-6 bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
            >
              Back to home
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</Base>

<style></style>
