---
import Base from "../layouts/Base.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import HeroBanner from "../components/HeroBanner/HeroBanner.astro";
import Partners from "../components/Partners/Partners.astro";
import HowItWorks from "../components/HowItWorks/HowItWorks.astro";
import Services from "../components/ServiceSection/Services.astro";
---

<Base title="Welcome to Astro.">
  <Navbar />
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <HeroBanner />
    <Services />
    <HowItWorks />
    <Partners />
  </main>
</Base>

<style></style>
