---
import HeroBanner from "../components/sections/HeroBanner.astro";
import HowItWorks from "../components/sections/HowItWorks.astro";
import Services from "../components/sections/Services.astro";
import FAQs from "../components/sections/FAQs.astro";
import Qoute from "../components/sections/Qoute.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import ProjectsInsights from "../components/sections/Projects&Insights.astro";
import CTACalculator from "../components/sections/CTACalculator.astro";
import CTAFooter from "../components/sections/CTAFooter.astro";
import BasePage from "../layouts/BasePage.astro";

import "@splidejs/splide/css/core";
import "../styles/devices.min.css";
---

<BasePage>
  <div class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden">
    <HeroBanner />
    <div class="relative">
      <div class="background">
        <div></div>
        <div></div>
      </div>
      <Testimonials />
      <Services />
      <CTACalculator />
    </div>
    <Qoute/>
    <HowItWorks />
    <ProjectsInsights />
    <FAQs />
    <CTAFooter />
  </div>
</BasePage>

<!--
  https://wweb.dev/resources/blur-background-css-generator
 -->
<style>
  .background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #ffffff, #ffffff);
    display: flex;
    flex-grow: 1;
    z-index: -1;
  }

  .background div {
    position: absolute;
    border-radius: 100%;
    height: 0;
    filter: blur(240vw);
    opacity: 0.4;
  }

  .background div:nth-child(1) {
    background: linear-gradient(132deg, #ffffff 0%, #775afc 100%);
    width: 31%;
    padding-top: 31%;
    left: 72%;
    top: 28%;
    transform: translateX(-50%) translateY(-50%);
  }

  .background div:nth-child(2) {
    background: linear-gradient(132deg, #ffffff 0%, #1a21d5 100%);
    width: 21%;
    padding-top: 21%;
    left: 28%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
  }
</style>

<script src="../js/index-init.ts"></script>
