---
import HeroBanner from "../components/sections/HeroBanner.astro";
import HowItWorks from "../components/sections/HowItWorks.astro";
import Services from "../components/sections/Services.astro";
import FAQs from "../components/sections/FAQs.astro";
import Partners from "../components/sections/Partners.astro";
import Qoute from "../components/shared/Qoute.astro";
import ProjectsInsights from "../components/sections/Projects&Insights.astro";
import CTACalculator from "../components/sections/CTACalculator.astro";
import "@splidejs/splide/css/core";
import CTAFooter from "../components/sections/CTAFooter.astro";
import BasePage from "../layouts/BasePage.astro";
---

<BasePage>
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <HeroBanner />
    <Partners />
    <Services />
    <Qoute />
    <HowItWorks />
    <ProjectsInsights />
    <CTACalculator />
    <FAQs />
    <CTAFooter />
  </main>
</BasePage>

<script src="../js/index-init.ts"></script>
