---
import Base from "../layouts/Base.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import HeroBanner from "../components/HeroBanner/HeroBanner.astro";
---

<Base title="Welcome to Astro.">
  <Navbar />
  <main class="overflow-x-hidden">
    <HeroBanner />
  </main>
</Base>

<style>
</style>
