---
import Container from "../../components/shared/Container.astro";
import BasePage from "../../layouts/BasePage.astro";
import { SERVICE_LIST } from "../../config";

//https://devicescss.xyz/
import "../../styles/devices.min.css";
import ServiceDetail from "../../components/sections/ServiceDetail.astro";
import type { ServiceInterface } from "../../interface/Service";
import CTAFooter from "../../components/sections/CTAFooter.astro";
import ScrollDown from "../../components/icon/scrollDown.astro";
---

<BasePage>
  <div class="flex flex-col">
    <div class="">
      <div class="bg-[#E4ECF8]">
        <div class="pb-52 pt-28">
          <Container
            className="flex flex-col justify-center items-center mb-10 pb-10"
          >
            <h2 class="text-7xl font-bold mx-auto">Services</h2>
          </Container>
        </div>
      </div>
      <Container className="flex flex-col gap-20 z-10 pb-40">
        <section
          id="service-hero"
          class="mt-[-15rem] bg-white rounded-3xl w-full p-10 md:px-16 md:py-14 lg:px-24 lg:py-20 drop-shadow-2xl"
        >
          <div class="flex flex-col">
            <div
              class="flex flex-col md:flex-row gap-4 md:gap-10 justify-start items-center md:divide-x"
            >
              <div
                class="text-base font-normal md:text-xl flex flex-row md:flex-col gap-6 text-gray-500"
              >
                <span>Strategy</span>
                <span>Execution</span>
                <span>Nurturing</span>
              </div>
              <div
                class="text-center md:text-left text-3xl md:text-5xl font-semibold text-black md:p-10"
              >
                Strive to provide <br /> unique solutions for your business!
              </div>
            </div>
            <div
              class="md:w-5/6 lg:w-10/12 mx-auto text-base md:text-xl mt-8 md:mt-10 font-normal text-center md:text-left"
            >
              Recognizing that every business is unique, my approach is
              customized to address your specific needs. This involves strategic
              planning to establish a solid foundation, efficient execution of
              marketing initiatives, and ongoing nurturing to foster growth and
              success.
            </div>
          </div>
          <a href={`#${SERVICE_LIST[0].section_id}`}><ScrollDown /></a>
        </section>

        {
          SERVICE_LIST.map((item) => (
            <ServiceDetail {...(item as ServiceInterface)} />
          ))
        }
      </Container>
    </div>
    <!-- <GetInTouch /> -->

    <CTAFooter />
  </div>
</BasePage>

<style>
  .round-shape {
    transition: all 0.3s ease-out 0s;
    animation: round-shape 7s linear infinite;
  }
  .chart-light {
    transition: all 0.3s ease-out 0s;
    animation: light 1.5s linear infinite;
  }
  .chart-shadow {
    box-shadow: 0px 20px 50px rgba(27, 35, 6, 0.08);
  }
  .partner-list {
    -webkit-animation: logoloop-c 40s linear infinite;
  }

  @keyframes round-shape {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes light {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      color: white;
    }
  }
  @keyframes logoloop-c {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
