---
import Container from "../../components/shared/Container.astro";
import Breadcrumb from "../../components/shared/Breadcrumb.astro";
import BasePage from "../../layouts/BasePage.astro";
import { SERVICE_LIST } from "../../config";
import GetInTouch from "../../components/shared/GetInTouch.astro";
import ServiceItem from "../../components/shared/ServiceItem.astro";
import { Image } from "astro:assets";

//https://devicescss.xyz/
import "../../styles/devices.min.css";
import ServiceDetail from "../../components/sections/ServiceDetail.astro";
import type { ServiceInterface } from "../../interface/Service";
import CTAFooter from "../../components/sections/CTAFooter.astro";

// const serviceImages:{[index:string]:any} = {}

// await Astro.glob("../../assets/images/partners/*").then(
//   (files) => {
//     files.forEach((file) => {
//       const name = file.default.src.split(".")[0].split("/").pop()
//       serviceImages[name]=file.default
//     })
//   }
// );
// await Astro.glob("../../assets/images/services/*").then(
//   (files) => {
//     files.forEach((file) => {
//       const name = file.default.src.split(".")[0].split("/").pop()
//       serviceImages[name]=file.default
//     })
//   }
// )

// const services = SERVICE_LIST.map((item) => {
//   // const image = serviceImages[item.image_name];
//   return {
//     ...item,
//     testimonial: {
//       ...item.testimonial,
//       // avatar_url: serviceImages[item.testimonial.avatar],
//       // company_logo_url: serviceImages[item.testimonial.company_logo],
//     },
//   };
// });
---

<BasePage>
  <div class="flex flex-col">
    <div class="">
      <div class="bg-[#E4ECF8]">
        <div class="pb-52 pt-40">
          <Container
            className="flex flex-col justify-center items-center mb-12 pb-10"
          >
            <h2 class="text-7xl font-bold mx-auto">Services</h2>
            <Breadcrumb />
          </Container>
        </div>
      </div>
      <Container className="flex flex-col gap-20 z-10 pb-40">
        <section
          id="service-hero"
          class="mt-[-15rem] bg-white rounded-3xl w-full px-12 py-10 md:px-16 md:py-14 lg:px-24 lg:py-20 drop-shadow-2xl"
        >
          <div class="flex flex-col">
            <div
              class="flex flex-row gap-4 md:gap-10 justify-start items-center divide-x"
            >
              <div class="uppercase text-2xl font-medium">What</div>
              <div
                class="text-3xl md:text-5xl font-semibold text-black p-3 md:p-10"
              >
                Strive to provide <br /> the best marketing services!
              </div>
            </div>
            <div
              class="md:w-5/6 lg:w-10/12 mx-auto text-base md:text-xl mt-8 font-normal"
            >
              Dedicated to excellence, our relentless pursuit is delivering
              unparalleled marketing services. With unwavering commitment, we
              ensure your brand's success through our top-tier strategies and
              innovative approaches.
            </div>
          </div>
        </section>

        {
          SERVICE_LIST.map((item) => (
            <ServiceDetail {...(item as ServiceInterface)} />
          ))
        }
      </Container>
    </div>
    <!-- <GetInTouch /> -->

    <CTAFooter />
  </div>
</BasePage>

<style>
  .round-shape {
    transition: all 0.3s ease-out 0s;
    animation: round-shape 7s linear infinite;
  }
  .chart-light {
    transition: all 0.3s ease-out 0s;
    animation: light 1.5s linear infinite;
  }
  .chart-shadow {
    box-shadow: 0px 20px 50px rgba(27, 35, 6, 0.08);
  }
  .partner-list {
    -webkit-animation: logoloop-c 40s linear infinite;
  }

  @keyframes round-shape {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes light {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      color: white;
    }
  }
  @keyframes logoloop-c {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
