---
import Paragraph from "../shared/Paragraph.astro";
import ButtonLink from "../shared/ButtonLink.astro";
import { HERO_BANNER_CONTENT } from "../../config";
---

<div class="pt-44 sm:pt-80 md:pt-96">
  <div
    class="flex flex-col justify-center items-start gap-5 sm:gap-7 md:gap-10"
  >
    <div
      class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight font-bold"
    >
      <h2>{HERO_BANNER_CONTENT.title}</h2>
      <h1
        class="animate-typing overflow-hidden whitespace-nowrap border-r-4 bg-hero-text-content text-transparent bg-clip-text md:pr-3"
      >
        {HERO_BANNER_CONTENT.highlight_title}
      </h1>
    </div>
    <Paragraph className="lg:w-1/2" data-aos="fade-up">
      {HERO_BANNER_CONTENT.description}
    </Paragraph>
    <div class="w-full flex max-w-md mx-auto lg:mx-0">
      <div class="flex flex-row gap-4 w-full justify-center lg:justify-start">
        <ButtonLink
          href="#"
          text="Get started"
          variant="primary"
          className="py-3 px-12"
        />
        <ButtonLink
          href="#"
          text="View more"
          variant="secondary"
          className="py-3 px-10"
        >
          <svg
            slot="right-icon"
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </ButtonLink>
      </div>
    </div>
  </div>
</div>
