---
import { Image } from "astro:assets";

// import portraitImage from "../../assets/images/portrait.png";
// import columnChart from "../../assets/images/column-chart.png";
// import followGrow from "../../assets/images/follow-grow.png";
// import circleChart from "../../assets/images/circle-chart.png";
import heroImage from "../../assets/images/hero-image2.png";

const TOP_RIGHT_IMAGE = "absolute top-[5.5rem] lg:top-24 right-0";
const TOP_RIGHT_IMAGE_WIDTH =
  "w-[300px] sm:w-[450px] md:w-[550px] lg:w-[570px] xl:w-[650px]";
---

<div class="relative w-full h-full max-w-[2048px] mx-auto">
  <div class:list={[TOP_RIGHT_IMAGE, "z-[-1]"]}>
    <Image src={heroImage} class={TOP_RIGHT_IMAGE_WIDTH} alt="" />
  </div>
  <div class:list={[TOP_RIGHT_IMAGE, "z-[-2]"]}>
    <img
      class={TOP_RIGHT_IMAGE_WIDTH}
      src="https://wp.themepure.net/seomy/wp-content/themes/seomy/assets/img/shape/banner-4-shape-1.png"
    />
  </div>
  <div class:list={[TOP_RIGHT_IMAGE, "z-[-3]"]}>
    <img
      class={TOP_RIGHT_IMAGE_WIDTH}
      src="https://wp.themepure.net/seomy/wp-content/themes/seomy/assets/img/shape/banner-4-shape-2.png"
    />
  </div>
</div>
