---
import Paragraph from "../shared/Paragraph.astro";
import ButtonLink from "../shared/ButtonLink.astro";
---

<div
  class="relative h-100 flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-36 lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
>
  <div
    class="relative flex flex-col justify-center items-center text-center lg:text-left lg:py-7 xl:py-8 lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 gap-5 sm:gap-7 md:gap-10"
  >
    <div>
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight font-bold text-dark"
      >
        I'm Vy,
      </h1>
      <h2
        class="animate-typing text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight overflow-hidden whitespace-nowrap border-r-4 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600 md:pr-3 font-bold"
      >
        Your marketing executor
      </h2>
    </div>
    <Paragraph className="mx-5 md:mx-0 w-5/6" data-aos="fade-up">
      As a specialist in digital marketing and communication, I take pride in
      being your dedicated partner to handle all your marketing efforts. My
      mission is clear: help you focus on what you do best – growing your
      business.
    </Paragraph>
    <div class="w-full flex max-w-md mx-auto lg:mx-0">
      <div
        class="flex flex-row gap-1 w-full justify-center lg:justify-start"
      >
        <ButtonLink
          href="#"
          text="Get started"
          variant="primary"
          className="mr-3 py-3"
        />
        <ButtonLink
          href="#"
          text="View more"
          variant="secondary"
          className="py-3"
        >
          <svg
            slot="right-icon"
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </ButtonLink>
      </div>
    </div>
  </div>
</div>
