---
---
<div class="how-it-works__svg-layer absolute mx-auto left-0 right-0 md:w-11/12">
  <svg
    width="100%"
    height="406"
    viewBox="0 0 997 406"
    class="hidden lg:block lg:mt-20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <mask id="dash-mask-desktop">
        <path
          class="st0 mask-style"
          stroke-dasharray="10,6"
          stroke-width="2.5"
          d="M170.889 374.592C299.416 374.592 345.112 450.728 832.143 360.751C1187.33 278.418 902.185 -51.1814 570.095 7.9274C238.004 67.0362 94.6028 57.0058 0.804688 7.92747"
        ></path>
      </mask>
    </defs>
    <path
      data-is-reverse="true"
      data-fast-timer="8.5"
      class="svg-drawer st0"
      d="M170.889 374.592C299.416 374.592 345.112 450.728 832.143 360.751C1187.33 278.418 902.185 -51.1814 570.095 7.9274C238.004 67.0362 94.6028 57.0058 0.804688 7.92747"
      stroke-linejoin="round"
      stroke="#D8D8D8"
      stroke-width="2.5"
      stroke-dasharray="10,6"
      mask="url(#dash-mask-desktop)"></path>
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    height="574"
    class="hidden md:block lg:hidden"
    viewBox="0 0 485 574"
    fill="none"
  >
    <defs>
      <mask id="dash-mask-tablet">
        <path
          class="st0 mask-style"
          stroke-dasharray="10,6"
          stroke-width="2.5"
          d="M4.91024 93.7372C68.4102 -63.2701 542.168 -15.6707 477.289 207.408C412.41 430.487 -1.9735 55.0203 1.09743 373.298C4.16835 691.576 462.91 532.08 462.91 532.08"
        ></path>
      </mask>
    </defs>
    <path
      class="svg-drawer st0"
      d="M4.91024 93.7372C68.4102 -63.2701 542.168 -15.6707 477.289 207.408C412.41 430.487 -1.9735 55.0203 1.09743 373.298C4.16835 691.576 462.91 532.08 462.91 532.08"
      stroke-linejoin="round"
      stroke="#D8D8D8"
      stroke-width="2.5"
      stroke-dasharray="10,6"
      mask="url(#dash-mask-tablet)"></path>
  </svg>
  <svg
    class="block md:hidden"
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    height="771"
    viewBox="0 0 364 771"
    fill="none"
  >
    <defs>
      <mask id="dash-mask-mobile">
        <path
          class="st0 mask-style"
          stroke-dasharray="10,6"
          stroke-width="2.5"
          d="M3.88567 125.315C51.4765 -86.1896 406.54 -22.0685 357.915 278.441C309.291 578.95 -1.27343 73.1594 1.02811 501.911C3.32965 930.663 347.138 715.806 347.138 715.806"
        ></path>
      </mask>
    </defs>
    <path
      class="svg-drawer st0"
      d="M3.88567 125.315C51.4765 -86.1896 406.54 -22.0685 357.915 278.441C309.291 578.95 -1.27343 73.1594 1.02811 501.911C3.32965 930.663 347.138 715.806 347.138 715.806"
      stroke-linejoin="round"
      stroke="#D8D8D8"
      stroke-width="2.5"
      stroke-dasharray="10,6"
      mask="url(#dash-mask-mobile)"></path>
  </svg>
</div>

<style>
  .st0 {
    fill: none;
    stroke-dashoffset: 3px;
    stroke-miterlimit: 10;
    stroke-dasharray: 10, 6;
  }

  .mask-style {
    stroke: white;
    stroke-width: 7;
  }
</style>
