---
---

<div class="absolute w-10/12 md:w-11/12 h-11/12 mx-auto left-0 right-0">
  <svg
    width="100%"
    height="421"
    viewBox="0 0 997 421"
    class="hidden lg:block lg:mt-20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <mask id="dash-mask">
        <path
          class="st0 mask-style"
          stroke-dasharray="10,6"
          stroke-width="2.5"
          d="M73.8849 393.611C547.142 418.712 345.112 450.728 832.143 360.751C1187.33 278.418 902.185 -51.1814 570.095 7.9274C238.004 67.0362 94.6028 57.0058 0.804688 7.92747"
        ></path>
      </mask>
    </defs>
    <path
      id="svg-desktop-hiw"
      class="st0"
      d="M73.8849 393.611C547.142 418.712 345.112 450.728 832.143 360.751C1187.33 278.418 902.185 -51.1814 570.095 7.9274C238.004 67.0362 94.6028 57.0058 0.804688 7.92747"
      stroke-linejoin="round"
      stroke="#D8D8D8"
      stroke-width="2.5"
      stroke-dasharray="10,6"
      mask="url(#dash-mask)"></path>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    height="560"
    class="hidden md:block lg:hidden"
    viewBox="0 0 485 404"
    fill="none"
  >
    <path
      d="M5.0007 65.9998C68.5007 -44.5 542.259 -11.0002 477.379 146C412.5 303 -1.88305 38.7514 1.18788 262.751C4.25881 486.751 463 374.5 463 374.5"
      stroke="#D8D8D8"
      stroke-width="2"
      stroke-linecap="round"
      stroke-dasharray="8 8"></path>
  </svg>
  <svg
    class="block md:hidden"
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    height="463"
    preserveAspectRatio="none"
    viewBox="0 0 354 440"
    fill="none"
  >
    <path
      d="M93.1886 11.1392C131.301 -18.3391 363.604 21.7033 351.635 147C339.665 272.297 2.15121 113 1.32564 299.5C0.50007 486 306.5 431.5 306.5 431.5"
      stroke="#D8D8D8"
      stroke-width="2"
      stroke-linecap="round"
      stroke-dasharray="8 8"></path>
  </svg>
</div>

<style>
  .st0 {
    fill: none;
    stroke-dashoffset: 3px;
    stroke-miterlimit: 10;
    stroke-dasharray: 10, 6;
  }

  .mask-style {
    stroke: white;
    stroke-width: 7;
  }
</style>